SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True

DB_ENGINE=django.db.backends.mysql
DB_NAME=semaforo_inteligente
DB_USER=root
DB_PASSWORD=12345678
DB_HOST=localhost
DB_PORT=3306

ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4200

# API key that the ESP32 must send in X-Api-Key header
IOT_API_KEY=change-me-iot-secret

# JWT token lifetimes (minutes)
JWT_ACCESS_TOKEN_LIFETIME=60
JWT_REFRESH_TOKEN_LIFETIME=1440
