asgiref==3.11.1
cryptography==48.0.0
Django==5.2.13
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
gunicorn==26.0.0
packaging==26.2
PyMySQL==1.1.2
python-decouple==3.8
sqlparse==0.5.5
tzdata==2026.1
whitenoise==6.12.0
Pillow==11.2.1
django-rest-passwordreset==1.5.0
sendgrid==6.11.0
